html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  color: white;
}

@font-face {
  font-family: "Noto Color Emoji";
  src:
    local("Noto Color Emoji"),
    url("./assets/fonts/NotoColorEmoji.ttf") format("truetype");
  /* This ensures the browser uses it for emojis */
  unicode-range:
    U+1F600-1F64F, U+1F300-1F5FF, U+1F680-1F6FF, U+2600-26FF, U+2700-27BF;
}

body {
  margin: 0;
  color: white;
  font-family:
    "Nunito",
    "Noto Color Emoji",
    "Apple Color Emoji",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}
